*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --purple-color: #ad28eb;
    --my-white: hsl(0, 100%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --dark-purple: hsl(292, 42%, 14%);
    --grayish-purple: hsl(292, 16%, 49%);
}
::selection{
    color: var(--light-pink);
    background-color: var(--grayish-purple);
}
html{
    height: 100vh;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    background: url(images/background-pattern-desktop.svg) var(--light-pink) no-repeat;
    background-size: 100%;
}
.card{
    display: block;
    max-width: 500px;
    border-radius: 10px;
    margin: 140px auto;
    padding: 15px 20px 5px;
    background-color: var(--my-white);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.title{
    display: flex;
    margin: 15px 0;
    font-size: 20px;
    font-weight: 700;
    flex-direction: row;
    color: var(--dark-purple);
}
.title img{
    margin-right: 10px;
}
.faqs-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordian{
    border: none;
    outline: none;
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    transition: 0.5s;
    background: transparent;
    color: var(--dark-purple);
}
.accordian:hover{
    cursor: pointer;
    color: var(--purple-color);
}
.plus-icon {
    display: block;
    cursor: pointer;
    transition: 0.5s;
}
.plus-icon.active {
    display: none;
}
.minus-icon {
    display: none;
    cursor: pointer;
    transition: 0.5s;
}
.minus-icon.active {
    display: block;
}
.panel{
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    transition: 0.5s;
    font-weight: 400;
    color: var(--grayish-purple);
    border-bottom: 1px solid var(--light-pink);
}
.panel:last-of-type{
    border-bottom: none;
}
.panel.active{
    height: 100%;
}
.panel p{
    line-height: 1.6;
    margin-bottom: 15px;
}

@media (max-width: 375px) {
    html{
        padding: 0 20px;
        background: url(images/background-pattern-mobile.svg) var(--light-pink) no-repeat;
    }
    .title{
        font-size: 16px;
    }
    .accordian{
        max-width: 80%;
        font-size: 15px;
    }
}
